:root {
  --primary-light: #ddd;
  --primary-dark: #333;
  --btn-active: #ccc;
}

body {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  border-radius: 10px;
}

#calculator {
  display: table;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
  background: var(--primary-dark);
}

#calc-display {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  width: inherit;
  height: 100px;
  background: var(--primary-light);
}

#first-display {
  display: inline-flexbox;
  background-color: lightblue;
  width: inherit;
  height: auto;
  text-align: right;
  font-size: 30px;
}

#second-display {
  display: inline-flexbox;
  background-color: lightpink;
  width: inherit;
  height: auto;
  text-align: right;
  font-size: 15px;
}

#buttons-cont {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px;
  width: inherit;
  height: inherit;
  background: var(--primary-light);
}

.btn {
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  border-color: var(--primary-dark);
  background-color: cadetblue;
}

.btn:active {
  background-color: var(--btn-active);
}

.btn-yellow {
  background-color: #f8e473;
}

.btn-gray {
  color: white;
  background-color: var(--primary-dark);
}

.span-2 {
  grid-column: span 2;
}