:root {
  --primary-light: #ddd;
  --primary-dark: #333;
}

body {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  border-radius: 10px;
}

#calculator {
  display: table;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 500px;
  background: var(--primary-dark);
}

#calc-display {
  display: flex;
  position:inherit;
  justify-self: stretch;
  align-self: stretch;
  margin: 20px;
  width: inherit;
  height: 100px;
  background: var(--primary-light);
}

#buttons-cont {
  display: grid;
  justify-self: stretch;
  align-self: stretch;
  margin: 50px;
  width: inherit;
  height: inherit;
  background: var(--primary-light);
}

.button-item {
  display: inline-table;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  width: 100%;
  height: 100%;
  background: var(--primary-dark);
}